#content{
	width:1024px;
	margin:auto;
	text-align: center;
	padding-top:20px;
	padding-bottom:20px;
}
#content #cat_container{
	display: inline-block;
	margin-left:auto;
	margin-right:auto;
}
#cat_container .categoryimage{
	border:solid 2px grey;
	float:left;
	margin-left:10px;
	margin-right:10px;
	width:250px;
	height:500px;
}
#cat_container .categoryimage h1{
	color:white;
	font-size: 40px;
	background-color: black;
	opacity: 0.7;
	position:absolute;
	text-align:center;
	width:250px;
	z-index:100;
}
#cat_container .categoryimage img{
	position:relative;
}

.product #media{
	float:left;
	margin-right:20px;
	width:300px;
	text-align: justify;
}
.product #media img{
	width:300px;
	height:300px;
	border: 1px gray solid;
}
.product #media .mediathumb{
	width:90px;
	height:90px;
	border: 1px gray solid;
	cursor: pointer;
}

.product #details{
	text-align: left;
	width:700px;
	float:right;
}
.product #details h1{
	font-size:20px;
	font-weight:bold;
	margin-bottom:3px;
}
.product #details h2{
	font-size:15px;
	font-weight:bold;
	margin-bottom:3px;
}


.product #details #availability{
	padding-top:0px;
}
.product #details #availability #nostock{
	color:red;
}
.product #details #availability #limitstock{
	color:#FF6600;
}
.product #details #availability #fullstock{
	color:green;
}
.product #details #price{
	margin-bottom:5px;
	padding-top:5px;
	border-top:1px gray solid;
}

.product #details h3{
	font-size:15px;
	font-weight:bold;
}

.product #details p{
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:1px gray solid;
}

.product #details ul{
	list-style-image: url('../img/aperturebullet.png');
	margin-left:30px;
}
